@{
    ViewData["Title"] = "Home Page";
}
@*
<div class="text-center">
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Import">
        <br />
        <input type="file" name="file" /><br /><br />
        <button type="submit">Import</button>
    </form>
</div>*@


<div class="row">
    <div class="col-5">
        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Import">
            <div class="form-group">
                <div class="col-md-10">
                    <h3>Upload File</h3>
                    <input class="form-control" name="file" multiple="multiple" type="file" />
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-10">
                    <input class="btn btn-primary" type="submit" value="Upload File" />
                </div>
            </div>
        </form>
    </div>
</div>





    